<launch>
    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -sl 10000 -e" />

    <node pkg="sm_three_some" type="sm_three_some_node" name="sm_three_some" launch-prefix="$(arg server_nodes_xterms)" />

    <node pkg="keyboard_client" type="keyboard_server_node.py" name="keyboard_server_node" launch-prefix="$(arg server_nodes_xterms)" />
</launch>