<launch>
    
    <rosparam command="load" file="$(find sm_atomic_threadable)/config/sm_atomic_threadable_config.yaml" />
    <node pkg="sm_atomic_threadable" type="sm_atomic_threadable_node" name="sm_atomic_threadable"/>
        <node pkg="smacc_runtime_test" name="smacc_runtime_test_node" type="smacc_runtime_test_node" output="screen">
        <rosparam file="$(find sm_atomic_threadable)/config/sm_atomic_threadable_test.yaml"/>
    </node>
</launch>
