log4j.logger.ros=INFO
log4j.logger.ros.roscpp.superdebug=WARN
log4j.logger.ros.smacc=WARN
log4j.logger.ros.sm_coretest_transition_speed_1=WARN

log4j.rootLogger=DEBUG, A1
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
 
# Print the date in ISO 8601 format
log4j.appender.A1.layout.ConversionPattern=%d [%t] %-5p %c - %m%n

# https://logging.apache.org/log4cxx/latest_stable/usage.html
# https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html
# http://wiki.ros.org/rosconsole