<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find sm_fetch_two_table_pick_n_place_1)/simulation/robots/fetch_gazebo_robot.xacro" />

     <node pkg="joint_state_publisher_gui"  type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>
     <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
     <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sm_fetch_two_table_pick_n_place_1)/config/joint_states_viewer.rviz"/>
</launch>