<launch>

    <rosparam command="load" file="$(find sm_atomic)/config/sm_atomic_config.yaml" />
    <node pkg="sm_atomic_services" type="sm_atomic_services_node" name="sm_atomic_services"/>
        <node pkg="smacc_runtime_test" name="smacc_runtime_test_node" type="smacc_runtime_test_node" output="screen">
        <rosparam file="$(find sm_atomic_services)/config/sm_atomic_services_test.yaml"/>
    </node>
</launch>
