<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" default="$(find sm_ridgeback_barrel_search_1)/simulation/worlds/opencv_world.sdf" />

    <!-- Configuration of Ridgeback which you would like to simulate.
         See ridgeback_description for details. -->
    <arg name="config" default="$(optenv RIDGEBACK_CONFIG base)" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="paused" value="false"/>
    </include>

    <param name="robot_description"
           command="$(find ridgeback_description)/scripts/env_run
                    $(find ridgeback_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find sm_ridgeback_barrel_search_1)/urdf/ridgeback.urdf.xacro
                    --inorder " />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find ridgeback_control)/launch/control.launch" />
    <include file="$(find ridgeback_control)/launch/teleop.launch">
      <arg name="joystick" value="false"/>
    </include>

    <rosparam param="/gazebo_ros_control/pid_gains">
      front_left_wheel:
        p: 1
        i: 0.1
        d: 0
      front_right_wheel:
        p: 1
        i: 0.1
        d: 0
      rear_left_wheel:
        p: 1
        i: 0.1
        d: 0
      rear_right_wheel:
        p: 1
        i: 0.1
        d: 0
    </rosparam>

    <!-- Spawn Ridgeback -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model ridgeback -param robot_description -x 0 -y 0 -z 0.1" />
    <!--<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-sdf -model ridgeback -file /Users/mikepurvis/ridgeback_ws/ridgeback.sdf -x 0 -y 0 -z 0.1" /> -->
  </launch>
