<launch>
    <!--========= LAUNCH FILE ARGUMENTS ======================================================-->
    <!-- defines the xterm parameters for the clients, set to empty to skip using xterm window-->
    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -sl 10000 -hold -e" />

    <!-- defines the xterm parameters for the state machine, set to empty to skip using xterm window-->
    <arg name="sm_xterm" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -geometry 1000x600 -sl 10000 -e" />

    <!-- if true, gazebo client is shown -->
    <arg name="show_gz_client" default="true" />

    <!-- if true, smacc_viewer is shown -->
    <arg name="show_smacc_viewer" default="true" />

    <!-- if true, rviz is shown -->
    <arg name="show_rviz" default="true" />

    <!-- It does not start the sm node in order to start it from your standalone process with debugger-->
    <arg name="debug" default="false" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sm_ridgeback_barrel_search_1)/config/rosconsole.config" />

    <!--================================================================================-->
    <!-- load the navigation environment simulated in gazebo-->
    <include file="$(find sm_ridgeback_barrel_search_1)/launch/ridgeback_simulation.launch">

    </include>

     <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find ridgeback_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ridgeback_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find ridgeback_navigation)/params/odom_nav_params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find ridgeback_navigation)/params/odom_nav_params/local_costmap_params.yaml" command="load" />

        <rosparam file="$(find ridgeback_navigation)/params/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find ridgeback_navigation)/params/move_base_params.yaml" command="load" />

        <!-- overrides -->
        <rosparam file="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/local_costmap_params.yaml" command="load" />

        <rosparam file="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/base_local_planner_params.yaml" command="load" />
        <!-- end overrides -->

        <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <remap from="odom" to="odometry/filtered" />
     </node>

    <!-- <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" /> -->

    <!-- load state machine parameters -->
    <rosparam command="load" file="$(find sm_ridgeback_barrel_search_1)/config/sm_ridgeback_barrel_search_1_config.yaml" />

    <!-- state machine node -->
    <node pkg="sm_ridgeback_barrel_search_1" type="sm_ridgeback_barrel_search_1_node" name="sm_ridgeback_barrel_search_1" launch-prefix="$(arg sm_xterm)" unless="$(arg debug)">
        <param name="waypoints_plan" value="$(find sm_ridgeback_barrel_search_1)/config/move_base_client/waypoints_plan.yaml" />
        <remap from="/odom" to="/odometry/filtered" />
        <remap from="/sm_ridgeback_barrel_search_1/odom_tracker/odom_tracker_path" to="/odom_tracker_path"/>
        <remap from="/sm_ridgeback_barrel_search_1/odom_tracker/odom_tracker_stacked_path" to="/odom_tracker_path_stacked"/>
    </node>

    <node pkg="sm_ridgeback_barrel_search_1" type="opencv_perception_node" name="opencv_perception_node">
        <remap from="image_raw" to="/ridgeback/camera1/image_raw"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sm_ridgeback_barrel_search_1)/config/navigation.rviz" if="$(arg show_rviz)">
        <remap from="/remap_smacc_status" to="/SmDanceBot/smacc/status" />
    </node>
</launch>
