<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sm_moveit_4)/config/rosconsole.config" />

    <!--  setup smacc planners configuration  -->
    <group ns="move_base">
        <!-- backward local planner -->
        <rosparam file="$(find sm_moveit_4)/config/move_base_client/backward_local_planner.yaml" command="load" />
        <!-- forward local planner -->
        <rosparam file="$(find sm_moveit_4)/config/move_base_client/forward_local_planner.yaml" command="load" />
    </group>

    <!-- <group ns="move_group">
        <param name="trajectory_execution/allowed_start_tolerance" value="0.001"/>
    </group> -->

    <node pkg="sm_moveit_4" type="sm_moveit_4_node" name="sm_moveit_4_node" launch-prefix="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -sl 10000 -hold -e "/>

    <!-- Start Gazebo with a blank world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="world_name" value="$(find sm_moveit_4)/simulation/worlds/test_zone_pick_place.sdf"/>
    </include>


    <include file="$(find fetch_moveit_config)/launch/move_group.launch">
        <arg name="pipeline" value="ompl"/>
    </include>

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find sm_moveit_4)/config/rviz.rviz" output="screen">
        <rosparam command="load" file="$(find sm_moveit_4)/config/manipulation/kinematics.yaml"/>
    </node>

    <!-- <node pkg="sm_moveit_4" type="configure_gazebo_scene.py" name="configure_gazebo_scene"/> -->

    <node pkg="sm_moveit_4" type="fake_cube_perception_node.py" name="fake_cube_perception"/>


    <!--················ NAV ·······················-->
    <include file="$(find sm_moveit_4)/launch/include/sm_moveit_4_nav.launch"/>

    <!-- Oh, you wanted a robot? -->
    <include file="$(find sm_moveit_4)/launch/include/fetch.launch.xml" />

</launch>