<launch>

    <!-- load the navigation environment simulated in gazebo-->
    <include file ="$(find b_example_1)/launch/ridgeback_simulation.launch"/>

    <!--  setup smacc planners configuration  -->
    <group ns="move_base">
        <!-- backward local planner -->  
        <rosparam file="$(find b_example_1)/config/backward_local_planner.yaml" command="load" />
        <!-- forward local planner -->  
        <rosparam file="$(find b_example_1)/config/forward_local_planner.yaml" command="load" />
    </group>

    <!-- load state machine parameters -->
    <rosparam command="load" file="$(find b_example_1)/config/radial_motion_sm_config.yaml"/>
    
    <!-- state machine node -->
    <node pkg="b_example_1" type="b_example_1_node" name="RadialMotionSample" launch-prefix="xterm -hold -e ">
        <!-- for odom tracker-->
        <remap from="/odom" to="/odometry/filtered"/>
        <!--<param name="signal_detector_loop_freq" value="1"/>-->
    </node>

    <node pkg="smacc_tool_plugin_template" type="tool_action_server_node" name="tool_action_server_node" launch-prefix="xterm -hold -e "/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find b_example_1)/config/navigation.rviz"/>
</launch>