<launch>
    <arg name="debug" default="false"/>

    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -sl 10000 -e" />

    <node pkg="sm_ferrari" type="sm_ferrari_node" name="sm_ferrari" launch-prefix="$(arg server_nodes_xterms)" unless="$(arg debug)"/>

    <node pkg="keyboard_client" type="keyboard_server_node.py" name="keyboard_server_node" launch-prefix="$(arg server_nodes_xterms)" />

    <node pkg="sm_ferrari" type="temperature_sensor_node" name="temperature_sensor_node" launch-prefix="$(arg server_nodes_xterms)" />
</launch>
