<launch>

    <!--========= LAUNCH FILE ARGUMENTS ======================================================-->
    <!-- defines the xterm parameters for the clients, set to empty to skip using xterm window-->
    <arg name="server_nodes_xterms" default="xterm -hold -e"/>
    
    <!-- defines the xterm parameters for the state machine, set to empty to skip using xterm window-->
    <arg name="sm_xterm" default="xterm -hold -geometry 1000x600 -sl 10000 -e"/>
    
    <!-- if true, gazebo client is shown -->
    <arg name="show_gz_client" default="true"/>

    <!-- if true, smacc_viewer is shown -->
    <arg name="show_smacc_viewer" default="true"/>

    <!-- if true, rviz is shown -->
    <arg name="show_rviz" default="true"/>

    <!-- It does not start the sm node in order to start it from your standalone process with debugger-->
    <arg name="debug" default="false"/>    

    <!--================================================================================-->
    <!-- load the navigation environment simulated in gazebo-->
    <include file ="$(find sm_radial_motion)/launch/ridgeback_simulation.launch">
        <arg name="show_gz_client" value="$(arg show_gz_client)"/>
    </include>

    <!--  setup smacc planners configuration  -->
    <group ns="move_base">
        <!-- backward local planner -->  
        <rosparam file="$(find sm_radial_motion)/config/backward_local_planner.yaml" command="load" />
        <!-- forward local planner -->  
        <rosparam file="$(find sm_radial_motion)/config/forward_local_planner.yaml" command="load" />
    </group>

    <!-- load state machine parameters -->
    <rosparam command="load" file="$(find sm_radial_motion)/config/radial_motion_sm_config.yaml"/>
    
    <!-- state machine node -->
    <node pkg="sm_dance_bot" type="sm_dance_bot" name="sm_dance_bot" launch-prefix="$(arg sm_xterm)" unless="$(arg debug)">
        <remap from="/odom" to="/odometry/filtered"/>
        <param name="run_mode" value="debug"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sm_radial_motion)/config/navigation.rviz"
    if="$(arg show_rviz)"/>

    <node pkg="sm_dance_bot" type="tool_action_server_node" name="tool_action_server_node" launch-prefix="$(arg server_nodes_xterms)"/>
    <node pkg="sm_dance_bot" type="keyboard_node.py" name="keyboard_node" launch-prefix="$(arg server_nodes_xterms)"/>
    <node pkg="sm_dance_bot" type="temperature_sensor_node" name="temperature_sensor_node" launch-prefix="$(arg server_nodes_xterms)"/>
    <node pkg="sm_dance_bot" type="service_node_3.py" name="service_server_node" launch-prefix="$(arg server_nodes_xterms)"/>

    <!-- <node pkg="smacc_viewer" type="smacc_viewer.py" name="smacc_viewer" if="$(arg show_smacc_viewer)"/> -->
</launch>