<launch>

    <!-- load the navigation environment simulated in gazebo-->
    <include file ="$(find sm_radial_motion)/launch/ridgeback_simulation.launch"/>

    <!--  setup smacc planners configuration  -->
    <group ns="move_base">
        <!-- backward local planner -->  
        <rosparam file="$(find sm_radial_motion)/config/backward_local_planner.yaml" command="load" />
        <!-- forward local planner -->  
        <rosparam file="$(find sm_radial_motion)/config/forward_local_planner.yaml" command="load" />
    </group>

    <!-- load state machine parameters -->
    <rosparam command="load" file="$(find sm_radial_motion)/config/radial_motion_sm_config.yaml"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sm_radial_motion)/config/navigation.rviz"/>

    <node pkg="smacc_action_client_generic" type="smacc_action_client_generic_node" name="smacc_action_client_generic_node" launch-prefix="xterm -hold -e"/>
    <node pkg="sm_dance_bot" type="temperature_sensor_node" name="temperature_sensor_node"/>
    
</launch>