<launch>

  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default="$(find fetch_maps)/maps/3_1_16_localization.yaml" />
  <arg name="map_keepout_file" default="$(find fetch_maps)/maps/3_1_16_keepout.yaml" />
  <arg name="use_keepout" default="false" />

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find fetch_navigation)/launch/include/move_base.launch.xml" />
  <arg name="amcl_include" default="$(find fetch_navigation)/launch/include/amcl.launch.xml" />

  <!-- serve up a map -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

  <!-- serve up a map with keepout zones -->
  <!-- <group if="$(arg use_keepout)">
  <node name="map_keepout_server" pkg="map_server" type="map_server" args="$(arg map_keepout_file)">
    <remap from="map" to="map_keepout" />
    <remap from="static_map" to="static_map_keepout" />
  </node>
  </group> -->

  <!-- localize the robot -->
  <!-- <include file="$(arg amcl_include)" /> -->

  <!-- move the robot -->
  <!-- set topics -->

  <!-- fake localization method 1-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="fake_localization" args="0 0 0 0 0 0 /map /odom 100"/>-->
  <!-- fake localization method 2-->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>

    <remap from="base_pose_ground_truth" to="groundtruth"/>
  </node>


  <!-- planners, costmaps, etc -->
  <node pkg="move_base" type="move_base" name="move_base" respawn="true" launch-prefix="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -sl 10000 -hold -e ">
    <rosparam file="$(find sm_moveit_4)/config/navigation/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/overlay/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/overlay/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/overlay/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/costmap_global.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/overlay/costmap_global.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/move_base.yaml" command="load" />
    <rosparam file="$(find sm_moveit_4)/config/navigation/overlay/move_base.yaml" command="load" />

    <!-- backward local planner -->
    <rosparam file="$(find sm_moveit_4)/config/move_base_client/backward_local_planner.yaml" command="load" />
    <!-- forward local planner -->
    <rosparam file="$(find sm_moveit_4)/config/move_base_client/forward_local_planner.yaml" command="load" />
    <!-- pure spinning local planner -->
    <rosparam file="$(find sm_moveit_4)/config/move_base_client/pure_spinning_local_planner.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="map" to="map" />
  </node>

  <!-- tilt the head -->
  <node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" />

</launch>