<launch>
    <!--========= LAUNCH FILE ARGUMENTS ======================================================-->
    <!-- defines the xterm parameters for the clients, set to empty to skip using xterm window-->
    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -sl 10000 -hold -e" />

    <!-- defines the xterm parameters for the state machine, set to empty to skip using xterm window-->
    <arg name="sm_xterm" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -geometry 1000x600 -sl 10000 -e" />

    <!-- if true, gazebo client is shown -->
    <arg name="show_gz_client" default="true" />

    <!-- if true, smacc_viewer is shown -->
    <arg name="show_smacc_viewer" default="true" />

    <!-- if true, rviz is shown -->
    <arg name="show_rviz" default="true" />

    <!-- It does not start the sm node in order to start it from your standalone process with debugger-->
    <arg name="debug" default="false" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find sm_opencv)/config/rosconsole.config" />

    <!--================================================================================-->
    <!-- load the navigation environment simulated in gazebo-->
    <include file="$(find sm_opencv)/launch/ridgeback_simulation.launch">

    </include>

    <include file="$(find ridgeback_navigation)/launch/odom_navigation_demo.launch"/>

    <!-- <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" /> -->

    <!-- load state machine parameters -->
    <rosparam command="load" file="$(find sm_opencv)/config/sm_opencv.yaml" />

    <!-- state machine node -->
    <node pkg="sm_opencv" type="sm_opencv_node" name="sm_opencv" launch-prefix="$(arg sm_xterm)" unless="$(arg debug)">
        <param name="waypoints_plan" value="$(find sm_opencv)/config/move_base_client/waypoints_plan.yaml" />
        <remap from="/odom" to="/odometry/filtered" />
        <remap from="/sm_opencv/odom_tracker/odom_tracker_path" to="/odom_tracker_path"/>
        <remap from="/sm_opencv/odom_tracker/odom_tracker_stacked_path" to="/odom_tracker_path_stacked"/>
    </node>

    <node pkg="sm_opencv" type="opencv_perception_node" name="opencv_perception_node">
        <remap from="image_raw" to="/ridgeback/camera1/image_raw"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sm_opencv)/config/navigation.rviz" if="$(arg show_rviz)">
        <remap from="/remap_smacc_status" to="/SmDanceBot/smacc/status" />
    </node>
</launch>