name: bloom-release

on:
  push:
    paths:
      - package.xml
      - '*/package.xml'
      - '.github/workflows/bloom_release.yml'
    branches: [melodic-devel]
  workflow_dispatch:

jobs:
  bloom-release:
    runs-on: ubuntu-latest
    container: ros:melodic-ros-core
    env:
      ROS_DISTRO: melodic
      PRERELEASE: true
      BASEDIR: ${{ github.workspace }}/.work

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: code quality check
        uses: pre-commit/action@v3.0.0

      # BLOOM PRERELEASE CHECK
      # - name: industrial_ci prerelease check
      #   uses: ros-industrial/industrial_ci@master

      # BLOOM RELEASE
      - name: bloom release
        uses: at-wat/bloom-release-action@v0
        with:
          ros_distro: ${{ env.ROS_DISTRO }}
          github_token_bloom: ${{ secrets.GITTOKEN_BLOOM }}
          github_user: pabloinigoblasco
          git_user: pabloinigoblasco
          git_email: pablo@ibrobotics.com
          release_repository_push_url: https://github.com/robosoft-ai/SMACC-release.git
          tag_and_release: true
          # open_pr: true
