name: Continuous Integration

on:
  push:

jobs:
  CI:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: ros-tooling/setup-ros@v0.3
        with:
            required-ros-distributions: noetic
      - uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: forward_global_planner smacc_msgs smacc smacc_runtime_test sr_all_events_go sr_conditional sr_event_countdown keyboard_client multirole_sensor_client ros_publisher_client ros_timer_client move_base_z_client_plugin forward_local_planner backward_global_planner undo_path_global_planner backward_local_planner move_group_interface_client
          target-ros1-distro: noetic
