name: Continuous Integration

on:
  push:
  pull_request:

jobs:
  CI:
    runs-on: ubuntu-latest
    container: osrf/ros:melodic-desktop
    steps:
      - uses: actions/checkout@v1
        with:
          path: src/SMACC

      - shell: bash
        run: |
         source /opt/ros/melodic/setup.bash
         apt update
         rosdep update
         rosdep install --from-paths . --ignore-src -r -y
         cd ../../
         catkin_make -DCMAKE_BUILD_TYPE=Debug
