name: Doxygen

on:
  push:
    tags:
      - '*'
    branches:
      - noetic-devel
jobs:
  doxygen:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: ros-tooling/setup-ros@v0.3
        with:
            required-ros-distributions: noetic

      - uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: forward_global_planner smacc_msgs smacc smacc_runtime_test sr_all_events_go sr_conditional sr_event_countdown keyboard_client multirole_sensor_client ros_publisher_client ros_timer_client move_base_z_client_plugin forward_local_planner backward_global_planner undo_path_global_planner backward_local_planner move_group_interface_client
          target-ros1-distro: noetic

      - uses: mattnotmitt/doxygen-action@v1
        with:
          doxyfile-path: 'smacc_ci/Doxyfile'

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          personal_token: ${{ secrets.EXTERNAL_GITHUB_TOKEN }}
          external_repository:  robosoft-ai/SMACC_Documentation
          publish_branch: gh-pages
          publish_dir: docs/
          destination_dir: noetic  # Branch name
          commit_message: ${{ github.event.head_commit.message }}
