<launch>
    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -sl 10000 -hold -e" />

    <rosparam command="load" file="$(find sm_packml)/config/sm_packml_config.yaml" />
    <node pkg="sm_packml" type="sm_packML_node" name="sm_packml" launch-prefix="$(arg server_nodes_xterms)" />

    <node pkg="keyboard_client" type="keyboard_server_node.py" name="keyboard_server_node" launch-prefix="$(arg server_nodes_xterms)" />
</launch>
